//About Section Styling

.about {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto
}

.about .wrapper {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.aboutText:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.aboutText {
    width: 72.5%;
}

.aboutText p {
    font-size: 0.70rem;
    line-height: 1rem;
    opacity: 0.875
}

.aboutText h2 {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    opacity: 0.875

}

.aboutImageContainer {
    width: 25%;
    // min-height: 10vh;
    min-height: 10--vh;
}

.about img {
    width: 100%;
    display: inline-block
}