//Contact Section Stylings

.contact {
    overflow: auto;
    display: flex; 
}

.contact .wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5.5rem auto 3.5rem auto;
}

.contactText p {
    font-size: 0.825rem;
    margin-bottom: 2.5rem;
    padding-right: 2.5rem;
}

.contactsContainer div {
    margin-top: 2.25rem;
}

.contactsContainer h3 {
    font-size: 0.5rem;
    padding-bottom: 1rem;
}

.contactsContainer p {
    font-size: 0.65rem;
    margin-bottom: 0.15rem;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    
}

.contact li {
    list-style-type: none;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.contact a {
    color: white;
}

.contact a:hover,
.contact a:focus,
.contact li:hover,
.contact li:focus {
    text-shadow: 0 0 3px grey, 0 0 5px white;
}

