//Footer Stylings

footer {
    background-color: $darkMain;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .wrapper {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}

footer a {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}

.socialLinks,
.bottomNavContainer,
.buttonsContainer {
    width: calc(100vw / 3);
    display: flex;
}

.bottomNavContainer {
    justify-content: center;
}

.buttonsContainer {
    justify-content: flex-end;
}


.socialUl,
.botNav ul,
.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.socialUl li {
    list-style-type: none;
    padding-right: 0.8rem;
}

.socialUl a {
    font-size: 0.75rem;
}

.socialUl a:focus,
.socialUl a:hover,
.socialUl a:active {
    text-shadow: 0 0 3px grey, 0 0 5px white;
}

.botNav a {
    font-size: 1.5rem;
    padding: 0 0.2rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
}

.buttonsContainer button {
    border-radius: 1rem;
    background-color: black;
    color: white;
    border: 0;
    font-size: 0.65rem;
    font-weight: bold;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 0 0 3px grey, 0 0 5px white;
    margin-left: 0.75rem
}

.botNav .selectedDot {
    font-size: 3rem;
    text-shadow: 0 0 3px grey, 0 0 5px white;
}