//Header Footer and General Styles

@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//Variables

:root {
    --animationDirectionVerticalcatchPink: 20rem;
    --animationDirectionHorizontalcatchPink: 20rem;
    --animationDirectionVerticalcatchBlack: 20rem;
    --animationDirectionHorizontalcatchBlack: 20rem;
    --animationDirectionVerticalcatchWhite: 20rem;
    --animationDirectionHorizontalcatchWhite: 20rem;
    // --moveX: 1.5rem;
    // --moveY: 1rem;
}

* { 
    margin: 0; 
    padding: 0;
}

html {
    font-size: 14px;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    // position: relative;
    font-family: $baseFont;
    letter-spacing: 0.05rem;
    background-color: $darkMain;
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    color: white;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: calc(var(--vh, 1vh) * 100);
    max-width: 2160px;
}

header,
footer,
main {
    width: 100%;
}

header {
    height: 20%;
}

footer {
    height: 10%;
}

main {
    height: 70%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    margin: 0;
    padding: 0;
}

section {
    height: 100%;
    scroll-snap-align: center;
}

//Theme Changers
.catchMe {
    width: 1.55rem;
    opacity: 0.6;
    position: absolute;
    display: none;
    z-index: 15;
}

.catchMe:hover,
.catchMe:focus {
    cursor: pointer;
    opacity: 1;
    width: 1.625rem;
}

.catchPink {
    animation: catchMeRotationPink 30s linear infinite ;
}

.catchBlack {
    animation: catchMeRotationBlack 30s linear infinite ;
    // opacity: 1;
}

.catchWhite {
    animation: catchMeRotationWhite 30s linear infinite ;
}

@keyframes catchMeRotationPink {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0.6
    }
    80% {
        opacity: 0.6    
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translate(var(--animationDirectionVerticalcatchPink), var(--animationDirectionHorizontalcatchPink)) rotate(360deg);
    }
}

@keyframes catchMeRotationBlack {
    0% {
        opacity: 0
    }

    10% {
        opacity: 1
    }
    80% {
        opacity: 1   
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translate(var(--animationDirectionVerticalcatchBlack), var(--animationDirectionHorizontalcatchBlack)) rotate(360deg);
    }
}

@keyframes catchMeRotationWhite {
    0% {
        opacity: 0.2
    }

    20% {
        opacity: 0.6
    }
    80% {
        opacity: 0.6    
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translate(var(--animationDirectionVerticalcatchWhite), var(--animationDirectionHorizontalcatchWhite)) rotate(360deg);
    }
}


  