//Header Stylings

header {
    // background-color: $darkMain;
    // color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.075rem;
}

header .wrapper {
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    // align-content: flex-end;
}

header h1 {
    font-size: 1.4rem;
    padding-bottom: 0.25rem;
}

header h2 {
    font-size: 1rem;
    opacity: 0.6;
}

header i,
.closeTopNav {
    font-size: 1.35rem;
    color: white;
    padding: 0;
    text-shadow: 0 0 1.5px grey, 0 0 2.5px white;
    // opacity: 1;
    // visibility: hidden;
    // margin-bottom: 0.35rem;
    height: fit-content;
    display: none;
    // transition: display 0s, opacity 0.5s linear;
}

header i:focus,
header i:active,
.closeTopNav:focus,
.closeTopNav:active {
    color: $darkMain;
}

.closeTopNav {
    font-size: 1.65rem;
    z-index: 10;
    // transform: scale(1.45);
    // margin-top: 0.25rem;
}

.closeTopNav:hover {
    cursor: default;
}

// .topNavButtonVisible {
//     display: block;
//     // visibility: visible;
//     // opacity: 1;
// }

.headingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headingsContainer p {
    font-size: 0.75rem;
    // margin: 0;
}

.headingsContainer h3 {
    margin-top: 0.3rem;
}

// .logo {
//     width: 100%;
// }

// .logo img {
//     width: 5%;
// }

// .headerHeadings {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
// }

.topNavContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // margin-right: 1.5%;
    width: 10%;
    font-size: 0.7rem;
}
  
.topNav {
    // display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    right: 0;
    padding: 0.65rem 0;
    text-align: right;
    transition: display 0s, opacity 0.5s linear;

}

.topNavVisible {
    visibility: visible;
    opacity: 1;
}

// .closeTopNav {
//     display: none;
//     font-size: 2.2rem;
// }
  
// .topNavContainer:hover .topNav,
// .topNavContainer:focus .topNav,
// .topNavContainer:active .topNav  {
//     display: block;
// }

.topNavContainer ul {
    list-style-type: none;
}

.topNavContainer a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.topNavContainer li {
    margin-top: 0.35rem;
}

.topNavContainer li:first-child {
    margin-top: 0.5rem
}

.topNavContainer a:hover,
.topNavContainer a:focus {
    // font-size: 0.8rem;
    text-shadow: 0 0 3px grey, 0 0 5px white;
}

.pageHeading {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    opacity: 0.6;
    text-transform: uppercase;
    
}

// .pageHeadingDesktop {
//     display: none;
// }

//Logo stuffs

.logo {
    display: none;
    width: 4.5rem;
    opacity: 0.6;
}

.logoMobile {
    width: 1.5rem
}



