//Changing Themes

.lightMode {
    background-color: white;
    // opacity: 1;
}

.lightMode main,
.lightMode footer,
.lightMode header {
    background-color: white;
    color: #110f10;
}

//Header

.lightMode .logo {
    display: none
}

.lightMode .logoLight {
    display: block
}

.lightMode .topNavContainer a {
    color: black;
}

.lightMode .catchMe {
    opacity: 0.6;
}

.lightMode .catchMe:hover,
.lightMode .cathcMe:focus {
    cursor: pointer;
    opacity: 1;
    width: 2.75rem;
}

//Main

//Project

.lightMode .projectInfo p,
.lightMode .projectInfo h3 {
    color: white;
}

.lightMode .carouselButtons button {
    background-color: whitesmoke;
    color: black;
    border: 1.25px solid black;
}


//Contact 

.lightMode .contact a {
    color: black;
}

//Footer

.lightMode footer a {
    color: black;
}

.lightMode .buttonsContainer button {
    background-color: whitesmoke;
    color: black;
}

.lightMode .buttonsContainer .useable {
    box-shadow: 0 0 1.5px 10 black;
    border: 1.25px solid black;
    animation: pulseLight 3.5s infinite;
    // opacity: 1;
}

@keyframes pulseLight {
	0% {
		transform: scale(0.95);
        box-shadow: 0 0 3px grey, 0 0 5px white;
	}

	70% {
		transform: scale(1.025);
        box-shadow: 0 0 3px grey, 0 0 5px white;
	}

	100% {
		transform: scale(0.95);
        box-shadow: 0 0 3px grey, 0 0 5px white;
	}
}





