//Changing Themes

//LightMode

.lightMode {
    background-color: #fffafa;
}

.lightMode main,
.lightMode footer,
.lightMode header {
    background-color: #fffafa;  
    color: #110f10;
}

//Header

.lightMode .logo,
.lightMode .logoPink {
    display: none
}

.lightMode .logoLight {
    display: block
}

.lightMode .topNavContainer a {
    color: black;
}

.lightMode .catchBlack {
    opacity: 0.6;
}

//Main
//Project

.lightMode .projectInfo p,
.lightMode .projectInfo h3 {
    color: white;
}

.lightMode .carouselButtons button {
    background-color: whitesmoke;
    color: black;
    border: 1.25px solid black;
}

//Contact 

.lightMode .contact a {
    color: black;
}

//Footer

.lightMode footer a {
    color: black;
}

.lightMode .buttonsContainer button {
    background-color: whitesmoke;
    color: black;
}

.lightMode .buttonsContainer .useable {
    box-shadow: 0 0 1.5px 10 black;
    border: 1.25px solid black;
    animation: pulseLight 3.5s infinite;
}

@keyframes pulseLight {
	0% {
		transform: scale(0.95);
        box-shadow: 0 0 3px grey, 0 0 5px white;
	}

	70% {
		transform: scale(1.025);
        box-shadow: 0 0 3px grey, 0 0 5px white;
	}

	100% {
		transform: scale(0.95);
        box-shadow: 0 0 3px grey, 0 0 5px white;
	}
}

//PinkMode

.pinkMode {
    background-color: $pinkPrime;
}

.pinkMode main,
.pinkMode footer,
.pinkMode header {
    background-color: $pinkPrime;  
    color: $pinkSec;
}

//Header

.pinkMode .logo,
.pinkMode .logoLight {
    display: none
}

.pinkMode .logoPink {
    display: block
}

.pinkMode .topNavContainer a {
    color: $pinkSec;
}

//Main
//Project

.pinkMode .projectInfo p,
.pinkMode .projectInfo h3,
.pinkMode .projectInfo .closeInfo {
    color: $pinkSec;
}

.pinkMode .carouselButtons button {
    background-color: $pinkPrime;
    color: $pinkSec;
    border: 1.25px solid black;
    animation: pulseLight 3.5s infinite;
}

.pinkMode .infoUl li {
    opacity: 0.75;
}

//Contact 

.pinkMode .contact a {
    color: $pinkSec;
}

//Footer

.pinkMode footer a {
    color: $pinkSec;
}

.pinkMode .buttonsContainer button {
    background-color: $pinkPrime;
    color: $pinkSec;
}

.pinkMode .buttonsContainer .useable {
    box-shadow: 0 0 1.5px 10 black;
    border: 1.25px solid black;
    animation: pulseLight 3.5s infinite;
}

@keyframes pulseLight {
	0% {
		transform: scale(0.95);
        box-shadow: 0 0 3px $pinkSec, 0 0 5px white;
	}

	70% {
		transform: scale(1.025);
        box-shadow: 0 0 3px $pinkSec, 0 0 5px white;
	}

	100% {
		transform: scale(0.95);
        box-shadow: 0 0 3px $pinkSec, 0 0 5px white;
	}
}




