$primaryColor: #fccf08;
$secondaryColor: white;
$accentColorA: #92D4F7;
$accentColorB: #F14F29;
$accentColorC: #FAC5CB;
$accentColorD: #8678B8;
$accentColorE: #2E60D2;
$accentColorF: #2C7605;
$accentColorG: #803796;
$accentColorH: #a59ea1;
$baseFont: 'Tinos', serif;